@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    gap: 30px;

}

video {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

.hide {
    display: none;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition:background 0.3s ease-in-out;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none
  }
a{
    text-decoration: none;
    color:rgb(6, 7, 6)
}
p{
    text-align: center;
    margin-top: 30px;
    direction: ltr;
}
i{
    margin-right:10px
}
@media(max-width:300px){
    h1{
        text-align: center
    }
    input[type=text] {
        width:80%
    }
}

.info{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width:100%;
}
